var question = $('.question');
var questionTitle = question.find('.question-title');
var questionBody  = question.find('.question-body');
var questionText  = questionBody.find('p').first();

questionTitle.text('<%== j @question.title %>');
questionText.text('<%==  j @question.body %>');

var flashMessage = '<%== j flash[:success] %>';
updateFlash('success', flashMessage);

var attachments = question.find('.question-attachments');
<% if @question.attachments.any? %>
  if (!attachments.length) {
    questionText.after(
      '<div class="question-attachments">' +
        '<p>Attachments</p>' +
        '<ul></ul>' +
      '</div>'
    );
    attachments = $('.question-attachments');
  }
  var attachmentsList = attachments.find('ul');
  attachmentsList.html('<%= j render @question.attachments %>');
<% else %>
  attachments.remove();
<% end %>

var questionForm = $('.edit-question');
questionForm.replaceWith(
  '<%= j render "form", question: @question, local: false, css_class: "edit-question" %>'
);
questionForm.hide();
questionBody.show();

$('.edit-question-link').removeClass('cancel').text('Edit');
