var question = $('.question');
var questionTitle = question.find('.question-title');
var questionText  = question.find('.question-body p').first();

questionTitle.text('<%= @question.title %>');
questionText.text('<%= @question.body %>');

// Updating flash
var message = $('<div>', {
  'class': 'alert success',
  'text':  '<%= j flash[:success] %>'
});
$('.flash').html(message);

var attachments = question.find('.question-attachments');
<% if @question.attachments.any? %>
  if (!attachments.length) {
    questionText.after(
      '<div class="question-attachments">' +
        '<p>Attachments</p>' +
        '<ul></ul>' +
      '</div>'
    );
    attachments = $('.question-attachments');
  }
  var attachmentsList = attachments.find('ul');
  attachmentsList.html('<%= j render @question.attachments %>');
<% else %>
  attachments.remove();
<% end %>

var questionForm = $('.edit-question');
questionForm.replaceWith(
  '<%= j render "form", question: @question, local: false, css_class: "edit-question" %>'
);
questionForm.hide();
question.show();

$('.edit-question-link').removeClass('cancel').text('Edit');
