var answer = $('#answer-<%= @answer.id %>');
var answerText = answer.find('.answer-text');

answerText.text('<%= @answer.body %>');

// Updating flash
var message = $('<div>', {
  'class': 'alert success',
  'text':  '<%= j flash[:success] %>'
});
$('.flash').html(message);

var attachments = answer.find('.answer-attachments');
<% if @answer.attachments.any? %>
  if (!attachments.length) {
    answerText.after(
      '<div class="answer-attachments">' +
        '<p>Attachments</p>' +
        '<ul></ul>' +
      '</div>'
    );
    attachments = $('.answer-attachments');
  }
  var attachmentsList = attachments.find('ul');
  attachmentsList.html('<%= j render @answer.attachments %>');
<% else %>
  attachments.remove();
<% end %>

var answerForm = answer.find('.edit-answer');
answerForm.replaceWith(
  '<%= j render "answers/form", answer: @answer, css_class: "edit-answer" %>'
);
answerForm.hide();
answerText.show();

answer.find('.edit-answer-link').removeClass('cancel').text('Edit');
